html {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background: black;
        .wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url('../media/background.jpg');
            background-position: center;
            background-size: cover;

            .lock {
                position: absolute;
                bottom: 0;
                padding: 8% 2%;
                div {
                    color: white;
                    font-weight: 300;
                    .time {
                        font-size: 144px;
                    }
                    .date {
                        font-size: 56px
                    }
                }
            }
        }
    }
}