@import 'components/animations';

html {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    user-select: none;

    body {
        background: black;
        .wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            color: white;
            font-weight: 300;

            .lock {
                position: absolute;
                bottom: 0;
                padding: 8% 2%;
                div {
                    .time {
                        font-size: 144px;
                    }
                    .date {
                        font-size: 56px
                    }
                }
            }

            .login {
                opacity: 1;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                div {
                    .icon {
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                        img {
                            margin: 0 auto;
                        }
                    }
                    .user {
                        font-size: 56px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .input {
                        display: flex;
                        border: 2px solid rgba(255, 255, 255, 0.4);
                        &:hover {
                            border: 2px solid white;
                        }
                        input {
                            background: white;
                            width: 100%;
                            min-width: 320px;
                            font-size: 20px;
                            padding: 4px 8px;
                            border: none;
                            outline: none;
                            &::placeholder {
                                font-weight: 300;
                            }
                        }
                        .button {
                            position: relative;
                            background: rgba(65, 86, 97, 0.6);
                            height: 34px;
                            padding: 0px 6px;
                            img {
                                position: relative;
                                top: 48%;
                                transform: translateY(-50%);
                                width: 20px;
                                height: auto;
                            }
                        }
                    }
                }
            }

            .background {
                z-index: -1;

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                background: url('../media/background.jpg');
                background-position: center !important;
                background-size: cover !important;
            }
        }
    }
}

.inactive {
    animation: close-lock 0.8s forwards;
}
.active {
    animation: open-login 0.8s forwards;
}
.faded {
    animation: fade 0.8s forwards;
}